@media screen and (max-width: 768px) {
  .logo {
    width: 50%;
  }
  /* other styles for mobile devices */
  body {
    width: 50vw;
    height: 50vh;
    background-color: whitesmoke;
  }
  #canvas {
    display: block;
    width: 50%;
    height: 50%;
  }
  iframe {
    display: block;
    margin: 0 auto;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}


